.playlistRow {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.playlistRowheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.playlistRowmovies {
    display: flex;
    flex-Direction: row;
    align-Items: center;
}

.playlistRowaddButton {
    padding: 5px 10px;
    background-color: var(--text-color);
    color: black;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-weight: 800;
    font-size: 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 800;
    text-decoration: none;
}

.playlistRowaddButton:hover {
    background-color: var(--bg-menu-color);
}

button.playlistdelete-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistRowtitle {
    font-size: 30px;
    font-weight: 800;
    margin-right: 10px;
    color: var(--text-color)
}

button.playlistdelete-button svg {
    transform: scale(0.4);
}

button.playlistdelete-button svg {
    transform: scale(0.5);
}

.playlistdelete-button {
    padding: 1px 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-color);
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    font-weight: 800;
    text-decoration: none;
}

.playlistdelete-button:hover {
    background-color: var(--bg-menu-color);
}