.no-blur {
  filter: blur(0);
  z-index: 1;
}

.title {
  width: 50%;
  /* Ajouté, ajustez à la largeur que vous voulez */
  margin: auto;
  /* Ajouté */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 50px;
}

.search-container {
  flex-direction: column;
  /* Add this line */
  position: relative;
  /* Change from fixed to relative */
  width: 100%;
  background-color: var(--bg-color-transparent);
  /* Make the background semi-transparent */
  display: flex;
  /* Use flexbox to center the search bar */
  justify-content: center;
  /* Center the search bar horizontally */
  align-items: center;
  /* Center the search bar vertically */
}

.movie-list {
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  justify-content: center;
}

.search-bar {
  flex-grow: 2;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  border: none;
}

.solid-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.solid-button:hover {
  background-color: #0056b3;
}