.movie-itemplaylist {
    width: 200px;
    margin: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.movie-itemplaylist.selected {
    border: 10px solid rgb(206, 221, 70);
}

.poster-containerplaylist {
    position: relative;
    cursor: pointer;
    width: 200px;
}

.poster-containerplaylist img {
    width: 100%;
    /* Make the image fill its container */
    display: block;
    /* Remove any extra space around the image */
}

.basic-infoplaylist {
    position: absolute;
    /* Position the basic info absolutely */
    top: 0;
    /* Position at the bottom */
    left: 0;
    /* Position at the left */
    width: 100%;
    height: 100%;
    /* Occupy full width */
    background-color: var(--bg-color-transparent);
    /* Semi-transparent black background */
    padding: 10px;
    /* Padding for text */
    color: var(--text-color);
    /* Text color */
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}

.basic-infoplaylist h3 {
    font-size: 10px;
}

.basic-infoplaylist p {
    margin-top: auto;
    font-size: 10px;
}

.poster-containerplaylist:hover .basic-infoplaylist {
    opacity: 1;
}

.poster-containerplaylist:hover .description {
    opacity: 1;
}