.add-playlist-form> :not(:last-child) {
  margin-right: 10px;
}

.add-playlist-input {
  padding: 5px;
}

.add-playlist-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: black;
  cursor: pointer;
  margin: 10px;
  font-weight: 800;
  font-size: 15px;
  border-radius: 5px;
}

.playlist-creation-success {
  color: green;
}

.playlist-creation-error {
  color: red;
}


.add-playlist-button:hover {
  background-color: var(--bg-menu-color);
}