button.sliderButton {
    color: var(--text-color);
    font-size: 30px;
    border-color: var(--text-color);
    border-radius: 10px;
    height: 75px;
    width: 200px;
    background-color: var(--bg-color-dark);
    overflow: hidden;
    position: relative;
    line-height: 1;
    /* transition: background-color .3s; */
    z-index: 0;
    margin: 10px;
}



button.sliderButton span.label {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

button.sliderButton .background-slider {
    content: '';
    width: 0;
    height: 3em;
    background-color: var(--text-color);
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

button.sliderButton {
    cursor: pointer;
}

button.sliderButton:hover .background-slider {
    width: 100%;
}



button.sliderButton:hover span.label {
    color: var(--bg-color-dark);
}