button.sliderButton {
    color: var(--text-color);
    font-size: 30px;
    border-color: var(--text-color);
    border-radius: 10px;
    height: 75px;
    width: 200px;
    background-color: var(--bg-color-dark);
    /* overflow:auto; */
    position: relative;
    line-height: 1;
    transition: background-color .3s;
}



button.sliderButton span.label {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }

button.sliderButton:hover {
    cursor: pointer;
    background-color: var(--text-color);
}


button.sliderButton:hover span.label {
    color: #000000;
}