.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

@keyframes App-logo-scale {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
    /* Make it bigger */
  }

  100% {
    transform: scale(0.9);
  }
}

.App-header {
  background-color: rgb(45, 64, 89);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 212, 96);
}

.App-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(255, 212, 96);
}

.App-search {
  font-size: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.App-scroll {
  background-color: transparent;
  font-size: 30px;
  color: rgb(255, 212, 96);
  border: 2px solid rgb(255, 212, 96);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App-scroll:hover {
  font-size: 30px;
  background-color: rgb(255, 212, 96);
  color: rgb(234, 84, 85);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-scale 3s infinite;
  }
}