.movie-item {
    width: 275px;
    margin: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.poster-container {
    position: relative;
    cursor: pointer;
    width: 275px;
}

.poster-container img {
    width: 100%;
    /* Make the image fill its container */
    display: block;
    /* Remove any extra space around the image */
}

.basic-info {
    position: absolute;
    /* Position the basic info absolutely */
    top: 0;
    /* Position at the bottom */
    left: 0;
    /* Position at the left */
    width: 100%;
    height: 100%;
    /* Occupy full width */
    background-color: var(--bg-color-transparent);
    /* Semi-transparent black background */
    padding: 10px;
    /* Padding for text */
    color: var(--text-color);
    /* Text color */
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}

.basic-info h3 {
    font-size: 26px;
}

.basic-info p {
    margin-top: auto;
    font-size: 22px;
}

.poster-container:hover .basic-info {
    opacity: 1;
}

.poster-container:hover .description {
    opacity: 1;
}