.comment-bubble {
    position: relative;
    width: 90%;
    border-radius: 15px;
    background-color: var(--comment-bubble-color);
    text-align: left;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 1em;
}

span.author {
    position: absolute;
    bottom: -1.2em;
    right: 1em;
    font-size: .9em;
    color: var(--text-color);
}

span.content {
    margin-top: 1em;
    font-size: 1.2em;
}

.comment-bubble:not(:hover) .upvote, .comment-bubble:not(:hover) .downvote {
    visibility: hidden;
}

.comment-bubble .upvote, .comment-bubble .downvote {
    position: absolute;
    bottom: -.8em;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.comment-bubble .upvote {
    left: 1em;
}

.comment-bubble .downvote {
    left: 4em;
}


.comment-bubble .upvote .upvote-count-anchor, .comment-bubble .downvote .downvote-count-anchor {
    position: absolute;
}

.comment-bubble .upvote .upvote-count-anchor .upvote-count, .comment-bubble .downvote .downvote-count-anchor .downvote-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8em;
    color: var(--text-color);
}