.comment-bubble {
    position: relative;
    width: 90%;
    border-radius: 15px;
    background-color: var(--comment-bubble-color);
    text-align: left;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 1em;
}

span.author {
    position: absolute;
    bottom: -1.2em;
    right: 1em;
    font-size: .9em;
    color: var(--text-color);
}

span.content {
    margin-top: 1em;
    font-size: 1.2em;
}

.comment-bubble:not(:hover) .hidden-votes .upvote, .comment-bubble:not(:hover) .hidden-votes .downvote {
    visibility: hidden;
}

.upvote, .downvote {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -.8em;
    cursor: pointer;
}

.upvote {
    left: 1em;
}

.downvote {
    left: 4em;
}

.upvote .upvote-number, .downvote .downvote-number {
    position: absolute;
    left: 50%;
    font-size: .9em;
    font-weight: bold;
}

.upvote .upvote-number {
    top: 35%;
}

.downvote .downvote-number {
    top: 10%;
}